<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dickbutt</title>
    <link rel="stylesheet" href="static/reset200802.css">
    <link rel="stylesheet" href="static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav style="height: 65px; margin: 0 65px; display: flex; align-items: center;">
        <div style="align-items: center; flex: 1 0 auto; display: flex;">
            <a href="https://medium.com"><img src="static/logo.PNG"/></a>
            <div style="display: block; height: 24px; width: 1px; margin-right: 14px; margin-left: 15px; border-left: 1px solid rgb(204,204,204);"></div>
            <span style="color: rgb(25, 25, 25); line-height: 32px; font-size: 26px; font-weight: 600">Galleys</span>
        </div>
        <div style="display: flex; flex: 0 0 auto;">
            <div>
                <a href="" class="headerlink" >Sign in</a>
            </div>
            <div style="margin-left: 15px;">
                <a href="" class="headerlink" style="padding: 8px 16px; border: 1px solid rgb(2, 184, 117); border-radius: 5px;">Get started</a>
            </div>
            
        </div>
    </nav>
    <div>
        <img src="static/1 EBcKfyBxDTPNIymVoUJ5-Q.jpeg" style="width: 100%; height: 100%;"/>
    </div>
    <section>
        <article>
            <div>
                <h1>How She Got There</h1>
                <h2>An interview with Mule Design’s Erika Hall about philosophy, phone calls and her professional journey.</h2>
                <div class="authorbox">
                    <img class="author" src="static/0 IoBHiehSdFwAtwdj.png" style="float: left;" />
                    <span class="authorname">Khoi Vinh</span>
                    <a href="" class="follow">Follow</a>
                    <div style="float: right">
                        <a href=""><img src="static/social.PNG"/></a>
                    </div>                    
                    <p>Mar 10, 2015 · 23 min read</p>
                </div>
                <div class="content">
                    <p>In the fall of 2013 I interviewed Erika Hall, co-founder of <a href="http://muledesign.com/">Mule Design Studio</a>, one of the most influential design practices in North America. It was the first of fourteen interviews that I would conduct for my book <a href="http://howtheygotthere.us/">How They Got There: Interviews With Digital Designers About Their Careers</a>, and so in many ways it was the most important, too.</p>
                    <p>Erika had been profiled numerous times in many different forums, and her insights on design, business and technology were well known. I was after something narrower, though. I wanted to hear about the nitty gritty of her professional journey, the trials and tribulations she encountered in finding meaningful work, and the stories of her lucky breaks and less lucky mishaps. The goal of How They Got There was to document the random things that conspire together to forge every career, even very high profile ones like Erika’s.</p>
                    <p>I knew that, if it went off well, our discussion would serve as a kind of template for the others that would follow, and so I was relieved when Erika talked about her professional life with such unaffected candor and incisive wit. Her tales of the first dot-com bubble and burst, and how she salvaged from that wreckage the building blocks that would lead to Mule Design, were exactly what I was looking for. This interview remains one of my very favorites from all of the ones I conducted for How They Got There.</p>

                </div>
            </div>
        </article>
    </section>
    <footer>
        <div class="container">
            <div class="tank">
                <div>
                    <h3>Discover Medium</h3>
                    <p>Welcome to a place where words matter. On Medium, smart voices and original ideas take center stage - with no ads in sight. Watch</p>
                </div>
                <div>
                    <h3>Make Medium yours</h3>
                    <p>Follow all the topics you care about, and we’ll deliver the best stories for you to your homepage and inbox. Explore</p>
                </div>
                <div>
                    <h3>Become a member</h3>
                    <p>Get unlimited access to the best stories on Medium — and support writers while you’re at it. Just $5/month. Upgrade</p>
                </div>
            </div>
            <div class="baseline">
                <img src="static/logo2.PNG" />
                <div>
                        <a>About</a>
                        <a>Help</a>
                        <a>Legal</a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>