<html>
    <head>

    </head>
    <body>
        <form action="search" method="post">
            <p>Name</p>
            <input type="text" name="name"/>
            <p>Price</p>
            <input type="number" name="price"/>
            <p>Quantity</p>
            <input type="number" name="qty" />
            <button type="submit">Search</button>
        </form>
        {% if hasresults %}
            {% for item in output %}
                <ul>
                    <li>{{item.name}}</li>
                </ul>
            {% endfor %}
        {% else %}
            <p>{{output}}</p>
        {% endif %}
    </body>
</html>